//- h1 Simple calculator
.container
  .calculator
    .calculator__display
      input#display.inputBox(type="text", value="", readonly)
    .calculator__keys
      table
        tr
          td: button.digit(type="button", value="CE", onclick="cancAll(this)") CE
          td: button.digit(type="button", value="C", onclick="canc(this)") C
          td: button.digit(type="button", value="/", onclick="edit(this)") /
          td: button.digit(type="button", value="*", onclick="edit(this)") *
        tr
          td: button.digit(type="button", value="7", onclick="edit(this)") 7
          td: button.digit(type="button", value="8", onclick="edit(this)") 8
          td: button.digit(type="button", value="9", onclick="edit(this)") 9
          td: button.digit(type="button", value="-", onclick="edit(this)") -
        tr
          td: button.digit(type="button", value="4", onclick="edit(this)") 4
          td: button.digit(type="button", value="5", onclick="edit(this)") 5
          td: button.digit(type="button", value="6", onclick="edit(this)") 6
          td: button.digit(type="button", value="+", onclick="edit(this)") +
        tr
          td: button.digit(type="button", value="1", onclick="edit(this)") 1
          td: button.digit(type="button", value="2", onclick="edit(this)") 2
          td: button.digit(type="button", value="3", onclick="edit(this)") 3
          td(rowspan="2"): button.digit.bigC(
            type="button",
            value="=",
            onclick="calc(this)"
          ) =
        tr
          td(colspan="2"): button.digit.bigR(
            type="button",
            value="0",
            onclick="edit(this)"
          ) 0
          td: button.digit(type="button", value=".", onclick="edit(this)") .
